mat-card {
    width: 500px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
}

h4 {
    margin-top: 2%;
}

.invisible {
    display: none;
}